@import "tailwindcss";

html{
    font-size: 62.5%;
}

@theme{
    --color-body-bg: #1a1a1a;
    --color-main-color: #ff9142;
    --color-text-color: #a8a8a8;

    --font-Syne: "Syne", serif;
    --font-Rubik: "Rubik", serif;
}